
<form action="/form" method="post">
  <p>郵便番号を入力してください。</p>
  <input type="text" name="postNumA" placeholder="例 901" required>
  <input type="text" name="postNumB" placeholder="例 2223" equired>
  <input type="submit" value="Go">
</form>
