<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>WebApp by HEP!</title>
  </head>
  <body>
    <%= yield %>
    <img src="/imgs/logo.png" alt="hepのロゴ画像">
    <br>
    <div>
      <p>ソースを見る</p>
      <a href="https://github.com/HidetoNakasone/sinatra-study"><i class="fab fa-github-square fa-4x"></i></a>
    </div>
  </body>
</html>
